.login-page{

    padding: 0%;
    margin: 0%;
    width: 800px;
    
}

.form{
    text-align: center;
    background-color:white;
    padding: 20px;
    max-width:600px;
    margin: 250px;
    width: 400px;
    position: absolute;
    display: center;
}

input[type=email] {
background-color: rgb(216, 216, 216);
width: 40%;
padding: 12px 20px;
margin: 8px 0;
border: 0px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: large;
}

input[type=text] {
background-color: rgb(216, 216, 216);
width: 40%;
padding: 12px 20px;
margin: 8px 0;
border: 0px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: large;
}

input[type=number] {
background-color: rgb(216, 216, 216);
width: 40%;
padding: 12px 20px;
margin: 8px 0;
border: 0px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: large;
}

button{
background-color: #800627;
border: none;
color: white;
padding: 16px 32px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
width: auto;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label{
    color: rgb(182, 112, 7);
    font-weight: 500;
    width: auto;
    text-align: initial;
    margin: 8px;
    display: grid;
}
