html {background:#61051d;}
body {margin:0; padding:0; background:#fbfdfb; text-align:center;/*font-family:Microsoft YaHei;*/ font-family:Arial; font-size:15px;}
img {border:0;}
h2, h3, h4 {font-size:15px; margin:0; padding:0;}
ul {margin:0; padding:0; list-style:none;}
li {margin:0; padding:0;}
a {text-decoration: none}
a:hover {text-decoration:underline;}

/*specific*/
.ul_padding {padding-left:40px;}
.header1 {color:#661f32; margin:20px 0; font-size:25px; font-weight:120; letter-spacing:5px;}
.header2 {color:#661f32; margin:20px; font-size:25px; font-weight:120; letter-spacing:5px;}
.header3 {margin-bottom:10px;} 


/*header*/
#header {background:#800627; height:120px; color:#fff; position:relative; z-index:10;}

/*search bar*/
input[type=text] {
	background-color: rgb(216, 216, 216);
	width: 40%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 0px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: large;
}

/*main content body*/
#main{width:100%; background:#fbfdfb;  min-width:926px; _float:left;}

/*footer*/
#footer {background:#61051d; height:120px; position: static; color:#fff;}

/*content wrapper*/
.content{position:relative; width:auto; margin:0 auto; text-align:left;}
.content.last {margin-bottom:20px;}
.content.first {margin-top:20px;}
.column {float:left;}
.column.last {float:right;}

/*auto-height with float:left or float:right child element*/
.autoheight{overflow:auto; zoom:1;}

/*container2*/
.container2 {background:#fff; overflow:hidden; line-height:24px; border:1px solid #a0a0a0; 
	box-shadow: 0 0 3px rgba(0,0,0,.3) inset, 3px 3px 20px rgba(0,0,0,.7);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.3) inset, 3px 3px 20px rgba(0,0,0,.7);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.3) inset, 3px 3px 20px rgba(0,0,0,.7);
}
.container2 .header3 {margin:20px 0; font-size:20px; font-weight:120;}
.container2 li {margin-bottom:10px; color: black;}
.container2 p {margin:0; text-align:justify;}
.container2 .subcontainer {padding:10px 60px;}
.container2_wrapper {padding:10px 10px 20px 10px;}



/*subcontainer under any kind of container*/
.subcontainer {position:relative; margin:17px;}
.subcontainer>div {position:relative; height:inherit;}


/*pronet slider*/
.pronetslider span {color:#400011;}

/*pagelocation*/
#pagelocation {color:#803226; padding:10px 0;}

/*tab*/
.tab:hover {cursor:pointer;}

[hide-if-unresolved$="}"], img[alt$="}"], a[href$="}"] {
  display: none;
}
