#logo {margin-left: 900px;}

#topmenu {position:relative; height:32px; 
background:#800828;
background: -moz-linear-gradient(top, #850d2b, #61051d); 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#363636), to(#61051d));
background: -webkit-linear-gradient(top, #850d2b, #61051d);
background: -ms-linear-gradient(top, #850d2b, #61051d);
background: -o-linear-gradient(top, #850d2b, #61051d);
background: linear-gradient(top, #850d2b, #61051d); 

border-top-left-radius:10px; 
-webkit-border-top-left-radius:10px;
-moz-border-top-left-radius:10px;
border-top-right-radius:10px; 
-webkit-border-top-right-radius:10px; 
-moz-border-top-right-radius:10px;
} 

#topmenu:hover {cursor:pointer;}
#topmenu h4, #homepage {position:absolute; color:#fff1e5; float:left; width:116px; height:20px; padding:6px 0; font-size:16px;
border-top-left-radius:10px; 
-webkit-border-top-left-radius:10px;
-moz-border-top-left-radius:10px;
border-top-right-radius:10px; 
-webkit-border-top-right-radius:10px; 
-moz-border-top-right-radius:10px;
}
#topmenu span {margin:10px;}
#topmenu_header1{left:75px;}
#topmenu_header2{left:320px;}
#topmenu_header3{left:240px;}
#topmenu_header4{left:400px;}
#homepage span {margin-left:15px;}
#homepage:hover {background:#d35b00;}
#topmenu_header1:hover {background:#d35b00;}
#topmenu_header2:hover {background:#d35b00;}
#topmenu_header3:hover {background:#d35b00;}
#topmenu_header4:hover {background:#d35b00;}
#homepage a:link {color:#fff1e5;}
#homepage a:hover {text-decoration:none;}
#homepage a:visited {color:#fff1e5;}
#topmenu_header1 a:link {color:#fff1e5;}
#topmenu_header1 a:hover {text-decoration:none;}
#topmenu_header1 a:visited {color:#fff1e5;}
#topmenu_header2 a:link {color:#fff1e5;}
#topmenu_header2 a:hover {text-decoration:none;}
#topmenu_header2 a:visited {color:#fff1e5;}
#topmenu_header3 a:link {color:#fff1e5;}
#topmenu_header3 a:hover {text-decoration:none;}
#topmenu_header3 a:visited {color:#fff1e5;}
#topmenu_header4 a:link {color:#fff1e5;}
#topmenu_header4 a:hover {text-decoration:none;}
#topmenu_header4 a:visited {color:#fff1e5;}